<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Account information</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="static/css/account.css" rel="stylesheet">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="static/js/account.js"></script>
  </head>
  
  <body>

    <div class="row">

      <div class="col-sm-4" id ="title">
        <h1 class="text-center">Information for account: <span class="text-center" id="user_id">{{data}}</span></h1><br>
      </div>

      <div class="col-sm-2">
        <button type="button" name="delete-account" id="delete-account" class="btn btn-danger btn-delete">Delete account</button>
      </div>

      <div class="col-sm-6"  id="title">
        <h1 class="text-center">Book database:</h1><br>
      </div>
    </div>

    <div class="row">
      <div class="container col-sm-6">
        <div class="table-responsive table-user">
          <table id="userData"></table>
        </div>
        <div class="text-center">
          <button type="button" name="recommend_data" id="recommend_data" class="btn btn-info btn-recommend">Recommend me!</button>
        </div>
        <div class="table-responsive table-recommendations">
          <table id="userRecommendations"></table>
        </div>
      </div>
    
      <div class="container col-sm-6">
        <div class="table-responsive table-books">
          <table id="bookData"></table>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <button type="button" name="add_data" id="add_data" class="btn btn-lg btn-confirm text-uppercase btn-block">Add</button>
            </div>
            <div class="col-sm-4">
            <button type="button" name="edit_data" id="edit_data" class="btn btn-lg btn-confirm text-uppercase btn-block">Edit</button>
            </div>
            <div class="col-sm-4">
            <button type="button" name="delete_data" id="delete_data" class="btn btn-lg btn-confirm text-uppercase btn-block">Delete</button>
            </div>
          </div>
        </div>

        <div class="container">
          <form class="form-add-rating forms-ratings">
            <div class="form-label-group">
              <label for="add_book_id">What book would you like to rate?</label>
              <input type="number" id="add_book_id" name="add_book_id" required>
            </div> 
            <div class="form-label-group">
              <label for="add_rating_id">What rating would you like to give it?</label>
              <input type="number" id="add_rating_id" name="add_rating_id" min="1" max="5" required>
            </div> 
            <button class="btn btn-lg btn-open text-uppercase btn-block" type="submit" id="add_data_confirm">Confirm</button>
          </form>

          <form class="form-edit-ratings forms-ratings">
            <div class="form-label-group">
              <label for="edit_book_id" >What book would you like the edit the rating of?</label>
              <input type="number" id="edit_book_id" name="edit_book_id" required>
            </div>
            <div class="form-label-group">
              <label for="edit_rating_id" >What is the new rating for that book (1-5)?</label>
              <input type="number" id="edit_rating_id" name="edit_rating_id" min="1" max="5" required>
            </div>
            <button class="btn btn-lg btn-open text-uppercase btn-block" type="submit" id="edit_data_confirm">Confirm</button>
          </form>

          <form class="form-delete-rating forms-ratings">
            <div class="form-label-group">
              <label for="delete_id">What book would you like to remove</label>
              <input type="number" id="delete_id" name="delete_id" required>
            </div>
            <button class="btn btn-lg btn-open text-uppercase btn-block" type="submit" id="delete_data_confirm">Confirm</button>
          </form>
        </div>
      </div>

      <div class="col-sm-6">        
        <div class="container">
          <div class="row">
            <div class="col-sm-4">
              <button type="button" name="add_book" id="add_book" class="btn btn-lg btn-confirm text-uppercase btn-block">Add</button>
            </div>
            <div class="col-sm-4">
              <button type="button" name="edit_book" id="edit_book" class="btn btn-lg btn-confirm text-uppercase btn-block">Edit</button>
            </div>
            <div class="col-sm-4">
              <button type="button" name="delete_book" id="delete_book" class="btn btn-lg btn-confirm text-uppercase btn-block">Delete</button>
            </div>
          </div>
        </div>
      
        <div class="container">
          <form class="form-add-book form-books">
            <div class="form-label-group">
              <label for="add_book_name">What is the book's title?</label>
              <input type="text" id="add_book_name" name="add_book_name" required autofocus>
            </div>
            <div class="form-label-group">
              <label for="add_book_author">Who is the book's author?</label>
              <input type="text" id="add_book_author" name="add_book_author" required>
            </div>
            <div class="form-label-group">
              <label for="add_book_genre">What are the book's genres?</label>
              <input type="text" id="add_book_genre" name="add_book_genre" required>
            </div>
            <button class="btn btn-lg btn-open text-uppercase btn-block" type="submit" id="add_book_confirm">Confirm</button>
          </form>
      
          <form class="form-edit-book form-books">
            <div class="form-label-group">
              <label for="edit_book_id_">What book would you like to edit? (ID)</label>
              <input type="number" id="edit_book_id_" name="edit_book_id_" required autofocus>
            </div>
            <div class="form-label-group">
              <label for="edit_book_title">What is the new title? (if applicable)</label>
              <input type="text" id="edit_book_title" name="edit_book_title">
            </div>
            <div class="form-label-group">
              <label for="edit_book_author">Who is the new author? (if applicable)</label>
              <input type="text" id="edit_book_author" name="edit_book_author">
            </div>
            <div class="form-label-group" class="form-label-group">
              <label for="edit_book_genre">What are the new genre(s) (if applicable)</label>
              <input type="text" id="edit_book_genre" name="edit_book_genre">
            </div>  
            <button class="btn btn-lg btn-open text-uppercase btn-block" type="submit" id="edit_book_confirm">Confirm</button>
          </form>
      
          <form class="form-delete-book form-books">
            <div class="form-label-group">
              <label for="delete_book_id" >What book would you like to remove? (ID)</label>
              <input type="number" id="delete_book_id" name="delete_book_id" required autofocus>
            </div>
            <button class="btn btn-lg btn-open text-uppercase btn-block" type="submit" id="delete_book_confirm">Confirm</button>
          </form>
        </div>
      </div>
    </div>

  </body>
 
</html>