<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Web Technology Coursework</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <!--<link href="static/css/signup.css" rel="stylesheet">-->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> 
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="static/js/home.js"></script>
  </head>
  
  <body>

    <div class="container">
      <form id="login_form">
        <h2>Sign in</h2>
        <div>
          <label class="title">Username</label>
          <input type="text" id="login_username" name="username" class="form-control" required autofocus>
        </div>
        <div>
          <label class="title">Password</label>
          <input type="password" id="login_password" name="password" class="form-control" required>       
        </div>
        <div>
          <input type="submit" id="login_submit" name="submitButton" value="Sign in">
        </div>
      </form>   
    </div> 

  </body>
 
</html>